* {
    padding: 0;
    margin: 0;
    color: rgb(227, 197, 158);
}

.main {
    height: 100vh;
    background-image: url("./images/bg-2.png");
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: auto;
    margin: auto;
    width: 100%; 
}

.head {
    font-size: 60px;
    text-align: center;
    color: antiquewhite;
}

.heading {
    font-size: 25px;
    text-align: center; 
}

h2 {
    color: radial-gradient(circle at center, rgb(63, 38, 6), white);
    text-align: center; 
}

.upperpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    gap: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(64, 162, 183);
    padding: 20px;
    z-index: 10;
    border-radius: 30px;
    width: fit-content;
}

.gameoptions {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    align-items: flex-start; 
}

.input {
    display: flex;
    gap: 10px;
}

label {
    display: flex;
    gap: 10px;
}

.gamecard {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    background: #165057;
    padding: 20px;
    gap: 20px;
    border-radius: 30px;
    transition: all 0.5s;
    width: 60vw;
}

.gamecard:hover {
    background: #0b483e;
    transform: scale(1.02);
}

.leftpart {
    max-width: 95%;
}

.rightpart {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 30px;
}

.video1 {
    border-radius: 30px;
}

.rightpart:hover {
    transform: scale(1.02);
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gamesuggestion {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    margin: auto;
    gap: 20px;
}

.main2::-webkit-scrollbar {
    display: none; 
}

.button {
    border: none;
    transition: all;
    transition-duration: 0.5s;
    background-color: #054353;
    padding: 5px 15px;
    border-radius: 10px;
}

.button:hover {
    scale: 1.02;
    background-color: #184f46;
}

@media screen and (max-width: 1200px) {
    .gamecard {
        flex-direction: column;
        width: 60vw;
        gap: 10px;
        padding: 10px;
    }
    .leftpart {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .video1 {
        width: 150px;
    }
}
